#load-screen 
{
    background: url(../images/header-back.png);
    position: fixed;
    z-index: 10000;
    top:0px;
    width: 100%;
    height: 1600px;
}
    
    
#loading 
{
    width: 500px;
    height: 500px;
    margin: 10% auto;
    background: url(../images/loader.gif);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;    
}
    

.nav-box-item
{
    color: white;    
    height: 50px;
    display: flex !important;
    align-items: center;
}